  /* Carlito */
  @font-face {
    font-family: "Carlito";
    src: url("../../fonts/Carlito/carlito.bold.ttf");
    src: url("../../fonts/Carlito/carlito.bold.ttf") format("truetype");
    font-weight: 700;
    font-style: "normal";
  }

  @font-face {
    font-family: "Carlito";
    src: url("../../fonts/Carlito/carlito.regular.ttf");
    src: url("../../fonts/Carlito/carlito.regular.ttf") format("truetype");
    font-weight: 500;
    font-style: "normal";
  }


  @font-face {
    font-family: "Carlito";
    src: url("../../fonts/Carlito/carlito.italic.ttf");
    src: url("../../fonts/Carlito/carlito.italic.ttf") format("truetype");
    font-weight: 500;
    font-style: "italic";
  }

  @font-face {
    font-family: "Optien";
    src: url("../../fonts/Optien/Optien.ttf");
    src: url("../../fonts/Optien/Optien.ttf") format("truetype");
    font-weight: 500;
    font-style: "normal";
  }